html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
button,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

button:hover {
    background-color: #c82333;
}

/* Estilos para el textarea */
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    resize: vertical; /* Permitir redimensionamiento vertical */
    min-height: 100px; /* Altura mínima */
}